.mainnum{
    height: 1000px;
    width: 1200px;
    background: silver;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.mnum1{
    height:600px;
    width: 200px;
    background: #0110ff;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mnum2{
    height: 600px;
    width: 200px;
    background: #0110ff;
    display: flex;

}
.mnum3{
    height: 700px;
    width: 200px;
    background: #0110ff;
    display: flex;

}
.n1{
    height: 50px;
    width: 200px;
    background: #9f4201;
}
.num2-7{
    display: flex;
    flex-wrap: wrap;
}
.n2{
    height: 550px;
    width: 50px;
    background: #65becc;
}
.n3{
    height: 150px;
    width: 150px;
    background: #00869a;
}
.n4{
    height: 50px;
    width: 150px;
    background: #113236;
}
.nnum5-6{
    display: flex;
}
.n5{
    height: 300px;
    width: 100px;
    background: #6c1d35;
}
.n6{
     height: 300px;
     width: 50px;
     background: #810e94;
 }
.n7{
    height: 50px;
    width: 150px;
    background: #726c07;
}
.num8-14{
    display: flex;
    flex-wrap: wrap;
}
.height50{
    height: 50px;
}
.height100{
    height: 100px;
}
.height130{
    height: 130px;
}
.height170{
    height: 170px;
}
.n8{
    width: 150px;
    background: #726c07;
    display: flex;
    justify-self: end;
    border: 2px solid black;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.n9{
    height: 180px;
    width: 100px;
    background: #726c07;
    border: 2px solid black;
}
.n8-1{
    width: 40px;
    height: 10px;
    background: #9da3a8;
    margin: 15%;
    box-sizing: border-box;
}
.n9-2{
    width: 30px;
    height: 10px;
    background: #9da3a8;
    margin: 5px 10px 40px;
    box-sizing: border-box;
}
.n9-1{
    width: 30px;
    height: 10px;
    background: #9da3a8;
    box-sizing: border-box;
    margin: 10px;
}
.n811{
    height: 70px;
    width: 140px;
    background: #000000;
    margin: 15px 5px;
}
.n812{
    height: 30px;
    width: 60px;
    background: #000000;
    margin: 15px 5px;
}
.n813{
    height: 30px;
    width: 60px;
    background: #000000;
    margin: 10px 5px;
}
.n814{
    height: 10px;
    width: 50px;
    background: #000000;
    margin-left: 50px;
}